includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/PDFMerger/examples
    tmpDir: build/phpstan
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Contracts\\Foundation\\Application::#'
